* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #111;
}

.box1 {
    display: block;
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    border-radius: 20%;
    overflow: hidden;
}

.box2 {
    display: block;
    width: 200px;
    height: 200px;
    background-color: rgb(96, 123, 42);
    border-radius: 20%;
    overflow: hidden;
}

.box3 {
    display: block;
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    overflow: hidden;
}

.box4 {
    display: block;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    overflow: hidden;
}